@import 'compass'

.sun
	+animation(sunglow 20000ms linear infinite)
	+single-text-shadow(0, 0, 9px, 0, #ff0)
	display: inline-block !important

+keyframes(sunglow)
	0%
		color: #fa0
		+single-text-shadow(0, 0, 9px, 0, #ff0)
		+rotateZ(0deg)

	33%
		color: #f60
		+single-text-shadow(0, 0, 18px, 0, #fa0)
		+rotateZ(120deg)
	66%
		color: #ff0
		+single-text-shadow(0, 0, 9px, 0, #f60)
		+rotateZ(240deg)
	100%
		color: #fa0
		+single-text-shadow(0, 0, 9px, 0, #ff0)
		+rotateZ(360deg)

		
/* Extra tags */
abbr
	color: #080
	cursor: pointer
	border-bottom: 1px dotted #080
		

// Override Gist-file & highlight clashes
.gist-file .highlight
	line-height: normal
	background-color: inherit
	margin-bottom: inherit
	border: 0